*~
*.sw?
._*
config/.vim/.netrwhist
config/etc/hosts.datura
config/etc/hosts.kadath
perl_lib/_build
perl_lib/Build
perl_lib/MYMETA.yml
config/.irssi/away.log
_build/
Build
MYMETA.json
MYMETA.yml
config/.bash/local.bash
