[user]
    name = Duke Leto
    email = <jonathan@leto.net>
    editor = vim

[alias]
    co     = checkout
    praise = blame
    ru     = remote update
    up     = !git stash && git pull origin master && git stash pop
    last   = cat-file commit HEAD
    v      = !git --version
    plog   = log --pretty=format:'%C(yellow)%h%Creset %s %Cred%an%Creset %Cblue%d%Creset %Cgreen%cr%Creset %cd' --graph --all
    lg     = log --pretty=format:'%C(yellow)%h%Creset %s %Cred%an%Creset %Cblue%d%Creset %Cgreen%cr%Creset %cd' --graph --all
    lp     = log -p
    spread = !git push --tags origin master && git push --tags github master
    who    = shortlog -se --
    faster = repack -a -d -f --window=200 --window-memory=1g
    detach = checkout @{0}
    back   = checkout -
    flog   = reflog


[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = less -FXRS
    filemode = true
    logallrefupdates = true
    autocrlf = false
    whitespace = trailing-space,space-before-tab,cr-at-eol
    # enable if you are on NFS
    #preloadindex = true

[log]
    date = local

[apply]
    whitespace = strip

[diff]
   rename = copy

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
	default = current
