[user]
    name = Duke Leto 
    email = <jonathan@leto.net>
    editor = vim

[alias]
    ci = commit -a
    co = checkout
    st = status -a
    praise = blame
    up = !git stash && git pull origin master && git stash apply
    last  = cat-file commit HEAD

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy 

[pager]
    color = true 

[status]
    color = auto

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan 

[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = more
    filemode = true
    bare = false
    logallrefupdates = true
    autocrlf = false
    whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
    preloadindex = true

